<div class="container" style="margin-top: 10%">
  <div class="container">
    <h1></h1>
    <%i=1%>
    <% 10.times do %> 
      <div class="container" style="border:2px solid black">
        <% filter_n_day(i,@measurements_arr).each do |measurement|%>
        <div class="container" style="margin-top: 4%">
          <div class="row">
            <div class="col-md-3">
            Date: <%= measurement.created_at %>
          </div>
            <div class="col-md-3">
              <a href="/user/<%=@user.id%>/patient_measurements/<%= measurement.id%>/update" aria-label="Left Align" class="btn btn-default"> Edit This
              </a>
            </div>
          </div>
          <div class="row">
            Blood Sugar Level: <%= measurement.blood_sugar_level %>
          </div>
          <div class="row">
            Systolic Pressure: <%= measurement.systolic_pressure %>
          </div>
          <div class="row">
            Diastolic Pressure: <%= measurement.diastolic_pressure %>
          </div>
          <div class="row">
            Weight: <%= measurement.weight %>
          </div>
          <div class="row">
            Measurement Time: <%= measurement.measurement_time %>
          </div>
        </div>
        <% end %>
     <%  i += 1 %>
    </div>
   <% end %>
  </div>
</div>