<div class="container">
  <div class="row">
    <div style="text-align:center;width:25%;margin-left:38%;margin-top:10%">
      <h1><p class="text-primary">Daily Report</p></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="/user/<%=@user.id%>/edit" aria-label="Left Align" class="btn btn-primary">
            Update Profile
          </a>
      <div class="btn-group-vertical" role="group" aria-label="..." style="margin-top:10%">
        <a href="/user/<%= @user.id %>/foods/new" aria-label="Left Align" class="btn btn-success">
          New Meal
        </a>
        <a href="/user/<%=@user.id%>/meds/new " aria-label="Left Align" class="btn btn-success">
         New Medication
        </a>  
        <a href="/user/<%=@user.id%>/measurements/new" aria-label="Left Align" class="btn btn-success">
          New Measurement
        </a>
      </div>
      <div class="btn-group-vertical" role="group" aria-label="..." style="margin-top:10%">

        <a href="/user/<%=@user.id%>/foods/view" aria-label="Left Align" class="btn btn-info">
              View Recent Meals
        </a>
        <a href="/user/<%=@user.id%>/meds/view" aria-label="Left Align" class="btn btn-info">
              View Recent Mecations
        </a>
        <a href="/user/<%=@user.id%>/measurements/view" aria-label="Left Align" class="btn btn-info">
             View Recent Measurements
        </a>
      </div>
    </div>
    <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            Total calorie intake:
          </div>
          <div class="col-md-3">
            Total protein intake:
          </div>
          <div class="col-md-3">
            Total fat intake:
          </div>
          <div class="col-md-3">
            Current BMI(Body Mess Index):
            <super>*</super>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
        <%= @user.nutrient_counter("kcal")[Date.today.to_s.to_sym] %> Kcal
        </div>
        <div class="col-md-3">
        <%= @user.nutrient_counter("protein")[Date.today.to_s.to_sym]  %> g
        </div>
        <div class="col-md-3">
        <%= @user.nutrient_counter("total_fat")[Date.today.to_s.to_sym]  %> g
        </div>
        <div class="col-md-3">
        <%= @user_bmi %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
