<div class = "container" style = "margin-top:10%">
  <% if @user.errors.any? %>
    <div class="alert alert-warning fade in">
      <ul>
        <p>Update failed due to the following error(s):</p>
        <% @user.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal" method="POST" action="/user/<%=@user.id%>/edit">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label"><super>*</super> fields are mandatory</label>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label"><super>*</super>Username</label>
      <div class="col-sm-10">
        <input type="text" name="username" value="<%=@user.username%>" class="form-control" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label"><super>*</super>Email</label>
      <div class="col-sm-10">
        <input type="email" name="email" value="<%=@user.email%>" class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Date of Birth</label>
      <div class="col-sm-10">
        <input type="date" name="birth_date" value="<%=@user.birth_date%>" class="form-control"  placeholder="Date of Birth">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Date of Diagnosis</label>
      <div class="col-sm-10">
        <input type="date" name="diagnosis_date" value="<%=@user.diagnosis_date%>" class="form-control"  placeholder="Date of Diagnosis">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label"><super>*</super>First Name</label>
      <div class="col-sm-10">
        <input type="text" name="first_name" value="<%=@user.first_name%>" class="form-control"  placeholder="First Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Middle Name</label>
      <div class="col-sm-10">
        <input type="text" name="middle_name" value="<%=@user.middle_name%>" class="form-control"  placeholder="Middle Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label"><super>*</super>Last Name</label>
      <div class="col-sm-10">
        <input type="text" name="last_name" value="<%=@user.last_name%>" class="form-control"  placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Height(cm)</label>
      <div class="col-sm-10">
        <input type="number" name="height" value="<%= @user.height %>" class="form-control"  placeholder="Height">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Medical History</label>
      <div class="col-sm-10">
        <input type="text" name="medical_history" value="<%=@user.medical_history%>" class="form-control"  placeholder="Medical History">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" value="submit">Update</button>
      </div>
    </div>
  </form>
</div>