 <div class="container" style = "margin-top:15%;width:500px" >
  <% if @medication && @medication.errors.any? %>
    <div class="alert alert-warning fade in">
      <h4>Oops! The following Errors Occured!</h4>
      <ul>
        <% @medication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @error %>
    <div class="alert alert-warning fade in">
      <h4>Oops! The following Errors Occured!</h4>
      <ul>
        <li><%= @error %></li> 
      </ul>
    </div>
  <% end %>
  <div class="well">
    <div>
      <h4>Update This Entry</h4>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="POST" action="/user/<%=@user.id%>/meds/<%=@medication ? @medication.id : 99 %>">
        <div class="form-group">
          <label class="col-sm-4 control-label" for="med_name">Medicine</label>
          <div class="col-sm-8">
            <input id="med_name" name="name" class="form-control" value = "<%=@medication.name%>" placeholder="Medicine Name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">DIN</label>
          <div class="col-sm-8">
            <input disabled id="din" type="text" name="din" class="form-control" value = "<%=@medication.din%>" placeholder="Drug Identification Number (automatic field)">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Time</label>
          <div class="col-sm-8">
            <input type="datetime-local" name="medication_time" class="form-control" value = "<%=date_time_ruby_to_html(@medication.medication_time)%>">
          </div>
        </div>    
        <div class="form-group">
          <label class="col-sm-4 control-label">Quantity</label>
          <div class="col-sm-8">
            <input type="text" name="quantity" class="form-control" value="<%=@medication.quantity%>" placeholder="quantity of intake">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-default" name="submit_med" id="submit_med" value="submit">Save and Return</button>
          </div>
        </div>
      </form>
    </div>
</div>

<script type="text/javascript" src="/javascript/autocompletemeds.js"></script>
