<style>
.btn {
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.medication-wrapper .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
</style>  

<div class="container jumbotron medication-wrapper" style="margin-top: 10%">
    <% i=0 %>
    <% 10.times do %>
    <% if filter_n_day(i,@medications_arr).empty? %>
    <div class="container well">
      <% if i != 0 %>
        <h5><strong><%=i%> days ago: No Data Entry </strong></h5>
      <% else %>
        <h5><strong>Today: No Data Entry </strong></h5>
      <% end %>
    <% else %>
    <div class="container well">
    <% end %>    
    <% filter_n_day(i,@medications_arr).each do |medication|%>
        <div class="panel" style="margin-top:1%">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-8">
                <h4 class="panel-title">Date: <%= utc_to_local(medication.created_at) %></h4>
              </div>
              <div class="col-md-4">
                <a href="/user/<%=@user.id%>/meds/<%= medication.id%>/update" aria- label="Left Align" class="btn btn-info"> <i class="fa fa-pencil-square-o">edit</i>
                </a>
              </div>  
            </div>
          </div>
          <div style ="padding: 0 0 2% 10%"> 
            <div class="row">
              <i class="fa fa-plus-square"></i> Name: <%= medication.name %>
            </div>
            <div class="row">
              <i class="fa fa-medkit"></i> Quantity: <%= medication.quantity %>
            </div>
            <div class="row">
              <i class="fa fa-clock-o"></i> Taken at: <%= medication.medication_time.to_s[0..18] %>
            </div>
          </div>
        </div>
        <% end %>
     <%  i += 1 %>
    </div>
  <% end %>
</div>
  

