
    <div class ="container">
    <div id="grafico1" style="width:433px; height:62px;">
      <canvas id="2016-01-02" width="500" height="500"/>
    </div>
    </div>
<div class ="container">
<div id="grafico" style="width:433px; height:62px;">
      <canvas id="2016-01-03" width="500" height="500"/>
    </div>
</div>
  <script>
    
      window.onload = function(){
        
        <%@valores.each do |key,value|%>
        var doughnutData = [
        {
          value: <%=value[0].to_json%>,
          label: "One"
        },
        {
          value: <%=value[1].to_json%>,
          label: "Two"
        },
        {
          value: <%=value[2].to_json%>,
          label: "Three"
        },
        {
          value: <%=value[3].to_json%>,
          label: "Four"
        },
        {
          value: <%=value[4].to_json%>,
          label: "Five"
        }
      ];
        var ctx = document.getElementById(<%=key.to_s.to_json%>).getContext("2d");
        window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
        <%end%>
      };
  </script>
  