    <script>
    var sugarChartData = {
      labels : <%=@sugar_values[0].to_json%>,
      datasets : [
        {
          label: "Blood sugar level",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%=@sugar_values[1].to_json%> 
        }
      ]
    }

    var weightChartData = {
      labels : <%=@weight_values[0].to_json%>,
      datasets : [
        {
          label: "My First dataset",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%=@weight_values[1].to_json%> 
        }
      ]
    }


    var pressureChartData = {
      labels : <%=@pressure_values[0].to_json%>,
      datasets : [
        {
          label: "Systolic",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%=@pressure_values[1].to_json%>
        },
        {
          label: "Diastolic",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(151,187,205,1)",
          data : <%=@pressure_values[2].to_json%>
        }
      ]
    }


   


  window.onload = function(){
    var ctx0 = document.getElementById("blood_sugar").getContext("2d");
    ctx0.canvas.width = 200;
    ctx0.canvas.height = 200;
    window.myLine = new Chart(ctx0).Line(sugarChartData, {
      responsive: true
    });

    var ctx1= document.getElementById("weight").getContext("2d");
    ctx1.canvas.width = 200;
    ctx1.canvas.height = 200;
    window.myLine = new Chart(ctx1).Line(weightChartData, {
      responsive: true
    });

    var ctx2= document.getElementById("blood_pressure").getContext("2d");
    ctx2.canvas.width = 200;
    ctx2.canvas.height = 200;
    window.myLine = new Chart(ctx2).Line(pressureChartData, {
      responsive: true
    });

    
  }
  </script>




   
<div class="jumbotron" style="margin: 10% 5%; background-color: transparent;">
  <div class="row">
      <div class="col-md-12">
        <div class = "container well" height="100%">
          <div class="col-md-4">
            <canvas id="blood_sugar" style="border: 1px solid black"></canvas>
          </div>
          <div class="col-md-8">
            <div class = "container well">
              <div class="panel panel-default">
                <h4 class="panel-heading">Blood sugar level</h4>
                <div class="panel-body">
                  <% if current_user %>
                    <ul class="list-group">
                      <li class="list-group-item">Average Blood Sugar Level: <%= current_user.patient_measurements.average(:blood_sugar_level).to_f.round(2) %></li>
                      <li class="list-group-item">Highest Blood Sugar Recording: <%= current_user.patient_measurements.maximum(:blood_sugar_level).to_f.round(2)%></li>
                      <li class="list-group-item">Lowest Blood Sugar Recording: <%= current_user.patient_measurements.maximum(:blood_sugar_level).to_f.round(2)%></li>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row"> 
    <div class="col-md-3" width="50%" height="50%">
    </div>
    <div class="col-md-6" width="50%" height="50%"> 
        <div class ="container">
          <br>
          <br>
          <h4>Blood pressure</h4>
          <canvas id="blood_pressure" ></canvas>
        </div>
    </div>
    <div class="col-md-6" width="50%" height="50%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" width="50%" height="50%">
    </div> 
    <div class="col-md-6" width="50%" height="50%"> 
        <div class ="container">
          <br>
          <br>          
          <h4>Weight</h4>
          <canvas id="weight" ></canvas>
        </div>
    </div>
    <div class="col-md-6" width="50%" height="50%">
    </div>
  </div>
</div>