<div class="jumbotron container" style="margin: 10%">
<%@meals.each do |key, value|%>
  <div class ="well">
    <div class="row" style="margin-top:1%">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-calendar"></i> <%= key.to_s %></h4>
          </div>
          <div class="panel-body">
            <h4>Total calories <%=@calories[key]%> kcal</h4>
            <ul class="text-info list-group">
            <%value.each do |food|%>
              <li class="list-group-item">
                <%=food.name%>
                <span class="badge"><%=food.measure%> portions</span>
              </li>
            <%end%>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <div class ="well">
          <div id="grafico1">
            <canvas id="<%= key.to_s %>" style = "width: 100%; height: auto; background-color: transparent">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>
<script>
    
      window.onload = function(){
        
        <%@meals.keys.each do |key|%>
        var doughnutData = [
        {
          value: <%=@carbs[key].round(2).to_json%>,
          label: "Carbs"
        },
        {
          value: <%=@protein[key].round(2).to_json%>,
          label: "Protein"
        },
        {
          value: <%=@sugar[key].round(2).to_json%>,
          label: "Sugar"
        },
        {
          value: <%=@fiber[key].round(2).to_json%>,
          label: "Fiber"
        },
        {
          value: <%=@fat[key].round(2).to_json%>,
          label: "Fat"
        }
      ];
        var ctx = document.getElementById(<%=key.to_s.to_json%>).getContext("2d");
        ctx.canvas.width = 50;
        ctx.canvas.height = 50;
        window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
        <%end%>
      };
  </script>

  