<div class="container jumbotron" style="margin-top: 10%;">
  <div class="well">
    <div>
      <h4>Your Recent Foods</h4>
    </div>
      <% i=0 %>
      <% 10.times do %> 
      <% if filter_n_day(i,@foods_arr).empty? %>
      <div class="container">
        <% if i != 0 %>
          <h4><strong><%=i%> days ago: No Data Entry </strong></h4>
        <% else %>
          <h4><strong>Today: No Data Entry </strong></h4>
        <% end %>    
      <% else %>
      <% end %> 
      <div class="container">
      <% filter_n_day(i,@foods_arr).each do |food|%>
          <div class="panel-default" style="margin-top:2%">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="panel-title">Date: <%= food.created_at %></h4>
                </div>
                <div class="col-md-4">
                  <a href="/user/<%=@user.id%>/foods/<%= food.id%>/update" aria- label="Left Align" class="btn btn-default"> <i class="fa fa-pencil-square-o">edit</i>
                  </a>
                </div>  
              </div>
            </div>
            <div class="panel-body"> 
              <div class="row">
                Name: <%= food.name %>
              </div>
              <div class="row">
                Measure: <%= food.measure %>
              </div>
              <div class="row">
                Description: <%= food.description %>
              </div>
              <div class="row">
                Meal Time: <%= food.meal_time %>
              </div>
            </div>
          </div>
          <% end %>
       <%  i += 1 %>
      </div>
    <% end %>
  </div>
</div>
  

